*{
	margin: 0;
	padding: 0;
	font-family: Century Gothic;
}

header{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../2.jpg);
	height: 90vh;
	background-size: cover;
	background-position: center;
}
ul{
	float: right;
	list-style-type:none;
	margin-top: 25px;

}	
ul li{
	display: inline-block;
}
ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 1px solid #transparent;
	transition: 0.8s ease;

}

ul li a:hover{
	background-color: #fff;
	color: #000;
}
ul li.active a{
	background-color: #fff;
	color: #000;
}
.logo img{
	float: left;
	width: 120px;
	height: 60px;
}

.main{
	max-height: 1200px;
	margin: auto;
}
.title{
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.title h1{
	color: #fff;
	font-size: 90px;

}
.button{position: absolute;
	top: 62%;
	left: 20%;
	float: center
	transform: translate(-50%,-50%);

}
.btn{
	border: 1px solid #fff;
	padding: 10px 30px;
	color: #fff;
	text-decoration: none;
	transition: 0.6s ease;
}
.btn:hover{
	background-color: #fff;
	color: #000;

}
.search-btn{
	border: 2px solid #d84e55;
	height: 25px;
	width: 120px;
	background-color: #d84e55;
	color: #fff;
	background: #f44336;
	border: none;
	color: #fff;
	transition: 0.6s ease;


}
.search-btn:hover
{
	
	background: #bb0d00;
	cursor : pointer;
}
.to{
	border: 2px solid #fff;
	height: 21px;
	width: 120px;
	

}
.return{
	border: 2px solid #fff;
	height: 21px;
	width: 120px;
	
}
.onward{
	border: 2px solid #fff;
	height: 21px;
	width: 120px;
	}
.form{
	border: 2px solid #fff;
	height: 21px;
	width: 120px;
	
	}
.title h2{
	color: #fff;
	font-size: 30px;
	position: absolute;
	top: 140%;
	left: 50%;
	transform: translate(-50%,-50%);
}
span{
	color: #f44336;
}.co

.co {
  position: relative;
  height: 700px;
}
.title2{
	position: absolute;
	position: center;
	font-size: 20px;
	color: blue;
	top: 105%;
	left: 50%;
	transform: translate(-50%,-50%);

}
.title2-1{
	position: absolute;
	position: center;
	font-size: 15px;
	color: black;
	top: 125%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.title1{
	position: absolute;
	position: center;
	font-size: 20px;
	color: blue;
	top: 152%;
	left: 50%;
	transform: translate(-50%,-50%);

}
.title4{
	position: absolute;
	position: center;
	font-size: 20px;
	color:#ffd800;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);

}
.title5{
	position: absolute;
	position: center;
	font-size: 17px;
	color:#fff;
	top: 240%;
	left: 50%;
	transform: translate(-50%,-50%);

}

h6{
	position: absolute;
	position: center;
	font-size: 17px;
	color:red;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);

}


.co1{
	width: 15%;
	height: 8%;
	text-align: center;
	top:97%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);

}
.nav1 div{
	height: 4px;
	background-color: red;
	margin: 25px 0;
	border-radius: 25px;

}
.co2{
	width: 15%;
	height: 8%;
	text-align: center;
	top:145%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);

}
.nav2 div{
	height: 4px;
	background-color: green;
	margin: 25px 0;
	border-radius: 25px;

}
.co3{
	width: 15%;
	height: 8%;
	text-align: center;
	top:218%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);

}
.nav3 div{
	height: 4px;
	background-color: orange ;
	margin: 25px 0;
	border-radius: 25px;

}
.logo1 img{

	width: 160px;
	height: 80px;
	position: absolute;
	position: center;
	font-size: 15px;
	color: black;
	top: 245%;
	left: 15%;
	transform: translate(-50%,-50%);
}